<html>
    <head></head>
    <body>
        <h1>Player Creation Form</h1>
        <div>
            <form action="/create_player" method="POST" id="gamerocket-player-form">
                <p>
                    <label>Name</label>
                    <input name="name" type="text" />
                </p>
                <p>
                    <label>Locale</label>
                    <input name="locale" type="text" size="5"/>
                </p>
                <input type="submit" id="submit" value="Create a Player" />
            </form>
        </div>
    </body>
</html>